.subcategoryContainer {
  padding: 24px;
}

.subcategoryItem {
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
  margin-bottom: 12px;
}

.subcategoryTitle {
  font-size: 18px;
  font-weight: 600;
}

.subcategoryArrow {
  float: right;
  opacity: 0.5;
}
