.submitContainer {
  padding: 24px;
}

.submitButton {
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 14px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.submitButton:active {
  opacity: 0.8;
}
