.submitContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formLabel {
  font-size: 16px;
  font-weight: 500;
}
.formInput {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.buttonPrimary {
  background: #c8a36d;
  color: white;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
.buttonPrimary:hover {
  background: #b48f57;
}
