/* styles/layout.css */

.layout-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.section-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 12px;
}
